* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e19898;
  --primary-color-dark: #a2678a;
  --seconday-color: #4d3c77;
  --text-color: #3f1d38;
  --white: #fff;
  --max-width: 1200px;
}

body {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  height: 100vh;
}

.joke-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.joke-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: var(--primary-color-dark);
  border: 4px solid var(--seconday-color);
  border-radius: 10px;
}

.joke-content p {
  margin: 2rem 0;
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}

.joke-content button {
  color: var(--white);
  background-color: var(--seconday-color);
  border: 2px solid var(--white);
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
}

.joke-content button:hover {
  background-color: var(--primary-color-dark);
  color: var(--text-color);
  border-color: var(--text-color);
}

.joke-text.error {
  color: var(--primary-color);
}
